<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p id="foot">
      <%= link_to "Feminist Artificial Intelligence Projects", root_path, class: "footer_logo" %>
      <br/>
      christine.meinders@gmail.com | <%= link_to 'Collaborators', collaborators_path %> | 
      <%= link_to 'Resources', resources_path %> | <%= link_to 'Events', events_path %> | 

      <%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "#" -%>
      <%= link_to "<i class='fa fa-twitter'  aria-hidden='true'></i>".html_safe, "#" -%>
      <%= link_to "<i class='fa fa-calendar' aria-hidden='true'></i>".html_safe, "#" -%>
      <%= link_to "<i class='fa fa-meetup'   aria-hidden='true'></i>".html_safe, "https://www.meetup.com/Bits-and-Bytes-Feminist-Artificial-Intelligence-Projects/" -%>
    </p>
  </div>
</footer>
