<div style="font-size:1em;"><%= link_to image_tag('bits-and-bytes.png'), root_path, alt: "Bits & Bytes Logo" %> Feminist AI Projects</div>
  <ul class='nav'>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Approach', approach_path %></li>
    <li><%= link_to 'AI Design Strategy' %></li>
    <li><%= link_to 'AI Proposals', ai_proposals_path %></li>
    <li><%= link_to 'Collaborators', collaborators_path %></li>
    <li><%= link_to 'Events', events_path %></li>
    <li style="float: right;"><%= link_to 'Login' %></li>
  </ul>
