<nav class='nav'>
  <ul class='pull-left'>
    <li><%= link_to 'About'%></li>
    <li><%= link_to 'Approach' %></li>
    <li><%= link_to 'AI Design Strategy' %></li>
    <li><%= link_to 'AI Proposals'%></li>
    <li><%= link_to 'Collaborators' %></li>
  </ul>
  <ul class='pull-right'>
    <li><%= link_to 'Logout' %></li>
  </ul>
</nav>
