<nav navbar-collapse>
  <h1><%= link_to "Feminist AI Projects Revisited", root_path %></h1>

  <ul>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Approach', design_philosophy_path %></li>
    <li><%= link_to 'Research Methods', ai_design_research_path %></li>
    <li><%= link_to 'Design Implications', ai_design_tools_path %></li>
    <li><%= link_to 'Current Projects', current_ai_projects_path %></li>
    <li><%= link_to 'Future Directions', current_ai_projects_path %></li>
    <li><%= link_to 'Research Inspiration', current_ai_projects_path %></li>
  </ul>
</nav>
