<nav navbar-collapse>
  <h1><%= link_to "Feminist AI Projects Revisited", root_path %></h1>

  <ul>
    <li><%= link_to 'Background', background_path %></li>
    <li><%= link_to 'Approach', approach_path %></li>
    <li><%= link_to 'Research Methods I', ai_design_research_path %></li>
     <li><%= link_to 'Research Methods II', research_inspiration_path %></li>
    <li><%= link_to 'Design Implications', ai_design_tools_path %></li>
    <li><%= link_to 'Current Projects', current_ai_projects_path %></li>
    <li><%= link_to 'Future Directions', future_directions_path %></li>
<!--     <li><%= link_to 'Research Inspiration', research_inspiration_path %></li> -->
  </ul>
</nav>
