<div id="page_wrapper">
  <div class='lower'>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Event Name:</strong>
      <%= @event.event_name %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @event.address %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @event.about %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>