<div class="pages col-md-9">
  <h1>BACKGROUND</h1>

<!--   <%= image_tag("about_feminist-artificial-intelligence_about_collaborative.jpg", alt: "Edit Entry", class:'images') %> -->
  <p>Feminist AI Projects Revisited is a product of Christine Meinders’ 2017 MFA thesis in Media Design Practices at ArtCenter College of
  Design. The first part of the research focused on sensory sociocultural experiences associated with embodiment, and the second part of
  the research focused on critical making as a response to hegemonic AI.</p>

  <p>Two Feminist AI Projects were designed to respond to this work: Bits & Bytes and the Posthuman Plugin Additional outcomes
  of the work include the AI Sociocultural Design Tool and video research explorations.</p>

<!-- <hr/> -->
<!--   <%= image_tag("about_feminist-artificial-intelligence_home_about_posthuman.jpg", alt: "Edit Entry", class:'images') %> -->
 <!--  <%= image_tag("about_feminist-artificial-intelligence_vive.jpg", alt: "Edit Entry", class:'images') %> -->
 <!--  <%= image_tag("about_feminist-artificial-intelligence_calendar.jpg", alt: "Edit Entry", class:'images') %> -->


  <p>To read research  click here for the first <%= link_to 'half of the working paper', 'https://drive.google.com/open?id=0Bz8lvCqH2p96NXdfc0VnaVF3QVk' %>.</p>

  <p><%= link_to 'Machine Project Presentation', 'https://drive.google.com/open?id=0Bz8lvCqH2p96STVWN3AzUVJoVFk' %> and video about Feminist AI Design, given at Machine Project on 4/1/17</p>

  <iframe src="https://player.vimeo.com/video/212216809" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
