<div class="pages col-md-9">
  <h1>RESEARCH METHODS</h1>
<!--   <%= image_tag 'feminist-artificial-intelligence_design-research_general.jpg', alt:'', class:'images' %> -->

  <p>Within Bits &#38; Bytes’ collaborative design research, we engaged in
  several generative processes, which includes digital/physical collage,
  speculative futuring, and generative video research. Additional research
  tools include the AI design toolkit, voice plugin model, pre-concept mapping
  and sensory walks.</p>

 <!--  <%= image_tag 'feminist-artificial-intelligence_design-research_sensory.jpg', alt:'', class:'images' %> -->

  <p>We actively designed for sound, voice, gesture, movement, touch and
  subjective, perceived emotion-based experiences over visual interfaces, and
  prioritize the multi-sensory experiences in our design approach to
  intelligent interfaces and agents.</p>

  <h3>AI Design Research Process</h3>

  <p>Our approach to knowledge affects the way we design for intelligence and
  information within an intelligent system. In the design workshops, we
  incorporated body knowledge as a starting point for designing for embodiment
  in AI prototypes. We referenced research from Sara Ahmed, Katherine Hayles
  and Dara Blumenthal and designed for embodiment with the following things in
  mind:</p>

  <ul>
    <li>Embodiment extends beyond the body and can include the cultural and social shaping of embodied experiences.</li>
    <li>Individual and cultural emotional experiences are subjective and embodied. This may affect how we design for embodiment within AI systems.</li>
    <li>Emotions, cognition, and sensations are interconnected and indistinguishable.</li>
    <li>The affective economies of smiling and tone of voice should be highlighted or challenged</li>
    <li>We can use our bodies and AI design to boycott the affective economies created by social spaces by addressing smile and tone when designing for embodiment.</li>
  </ul>

  <p>If emotions and embodiment extend beyond the human, how might this change the way we design for embodiment in AI systems?</p>

  <h3>Facial Expressions</h3>
  <p>We talked about non-verbal communication through facial expressions,
  specifically addressing the smile.  </p>

  <p>What is the role of a smile? In a recent post in the blog Feminist
  Killjoys, Sara Ahmed writes about smiles. She highlights the connection
  between the smile and perceived happiness. She also highlights the role of
  the smiles as being socially imposed and potentially violent. In the
  information workshops, we discussed the social and cultural experiences of
  smiling. We pulled from Ahmed’s main points and talked about:</p>

  <ul>
    <li>Smile as performance.</li>
    <li>Smile as employed.</li>
    <li>Smile as defense of extreme exploitation.</li>
    <li>Smiles leading to happiness.</li>
    <li>How the smile can extend beyond our faces, “We might have to turn out bodies into smiles”.</li>
  </ul>

  <p>Our discussion about the social and cultural expectations placed on women
  through the form of smiling resulted in questions like:
  <ul>
    <li>Where do you feel a smile in your body?</li>
    <li>What is the difference between an imposed smile and a genuine smile? (which in our discussion is different than a fake and real smile.)</li>
    <li>Do you want your smiles captured?</li>
  </ul>
  <p>While many of these in-group discussion questions did not translate to our questionnaires, there was an overall feeling of being the subject of a society that imposes smiles. Workshop attendees claimed they only wanted certain people and designated
  organizations to have the ability to receive or capture their smiles.</p>

  <p>With the rise in emotions analytics employed through computer vision,
  voice analysis, body movement, what does it mean to capture a socially or
  culturally imposed smile? Our discussion leads to larger questions like:</p>
  <ul>
    <li>Can computer vision differentiate between a 'welcome to motel 6 smile' and the
  smile of a young girl being sex trafficked on a plane?</li>
    <li>Can pattern matching help us differentiate genuine and fake smiles, when a smile may indicate trouble or unrest or mask sadness?</li>
    <li>Could we use computer visions to understand socially and culturally imposed smiles?</li>
    <li>Is there a regional difference between real, fake and imposed smiles?</li>
    <li>Will we simply use smile detection as part of a sentiment analysis package, which will help the health/ wellbeing industry and market researchers sell us more items?</li>
  </ul>
<!--   <%= image_tag 'feminist-artificial-intelligence_design-research_smile.jpg', alt:'', class:'images' %>
 -->
  <p>While the discussions were critical of the smile, amounts our
  demographic, there was still an association between smiling and
  friendliness. The workshop conversations and generative questionnaires
  produced the following points:</p>

  <ul>
    <li>
      Participants associated smiling with being friendly, natural, bonding,
      and reading love and joy, an indicate of interest.
    </li>
    <li>
      Participants acknowledge that there is a difference between “real” and
      “fake” smiles.
    </li>
    <li>
      Participants reported that real smiles come from laughing, happiness,
      the eyes, inspiration, are genuine, and emerge from a feeling.
    </li>
    <li>
      Fake smiles are associated with being preoccupied, not feeling real joy,
      being at church, as a form of acknowledgment, to mask the feeling of
      wanting to cry, as a way to deal with someone you dislike, to be polite,
      to engage with co-workers.
    </li>
    <li>
      Reports of situations where one feels like she has to smile include:
      when working, in professional settings, and meeting people you dislike.
    </li>

    <li>
      Respondents reported being told to smile when getting a picture taken,
      or at a social event.
    </li>

    <li>
      Participants reported the bodily location of a smile: in the cheeks,
      stomach, chest, head, and mind.
    </li>
  </ul>
  <p>

<!--   <%= image_tag 'feminist-artificial-intelligence_design-research_findings.jpg', alt:'', class:'images' %> -->
  <strong>FINDINGS:</strong> The research indicates that while the participants
  were critical of the smile in conversation, there is still a regard for the
  smile and an honoring of different types of smiles. The selective capturing of
  smiles stood out as a main point, as well as the ability to send neutral
  smiles via social media (through things like emojis or thumbs up), without
  having to smile, felt more sincere than a physically fake smile.
  </p>
</div>

<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
