<div class="pages col-md-9">
  <h1>RESEARCH METHODS: Sensory Sociocultural Embodiment</h1>

<!-- $accent-purple; -->
  <p><b>Our approach to knowledge affects the way we design for intelligence and information within intelligent systems.</b>
  In the design workshops, we incorporated body knowledge as a basis for designing for embodiment in AI prototypes.
  Designing for embodiment, we referenced research from Sara Ahmed, Katherine Hayles and Dara Blumenthal with the
  following points in mind:</p>
<!--   $accent-purple; -->

  <ul>
    <li>Embodiment extends beyond the body and can include the cultural and social shaping of embodied experiences.</li>
    <li>Individual and cultural emotional experiences are subjective and embodied.</li>
    <li>Emotions, cognition, and sensations are interconnected and are often indistinguishable.</li>
    <li>The affective economies of smiling and tone of voice should be highlighted or challenged</li>
    <li>We can use our bodies and AI design to boycott the affective economies created by social spaces by addressing smile and tone.</li>
  </ul>

<!-- block quote -->
  <p><b>If emotions and embodiment extend beyond the human, how can this affect designing for embodiment in AI systems?
 </b></p>
<!-- block quote -->

  <h2>Facial Expressions</h2>
  <p>We studied non-verbal communication through facial expressions, specifically smiling. The following explores
  background, research questions and </p>

  <p><b>What is the role of a smile?</b> On her blog <i>Feminist Killjoys</i>, Sara Ahmed writes about smiles.
  She highlights the connection between smiling and perceived happiness. She also highlights
  the role of smiling as a socially imposed and potentially violent behavior. In our workshops,
  we discussed the social and cultural experiences of smiling. We drew from Ahmed's main points.
  Some of the things we discussed were: Smile as performance, Smile as employed and Smile as defense of
  extreme exploitation.

  <p>Our discussion about the social and cultural expectations placed on women
  through the form of smiling resulted in questions like:
  <ul>
    <li>Where do you feel a smile in your body?</li>
    <li>What is the difference between an imposed smile and a genuine smile? (which in our discussion is different than a fake and real smile.)</li>
    <li>Do you want your smiles captured?</li>
  </ul>

  <p>There was an overall feeling that society imposes smiles. Workshop attendees claimed they only wanted certain
  people and designated organizations to have the ability to receive or capture their smiles. With the rise in emotions analytics employed through computer vision,
  voice analysis, body movement, what does it mean to capture a socially or culturally imposed smile? This lead to to larger discussions within our group.</p>

<%= image_tag 'feminist-artificial-intelligence_design-research_smile.jpg', alt:'', class:'images' %>


<h2>TONE OF VOICE</h2>
  <p>We discussed nonverbal communication through the perceived "tone" of voices.
  During our conversations the following points regarding <b>the affective economy of tone </b> emerged.</p>

    <ul>
      <li>Participants were told to change their tone or to "get a gentler one" when they are
      considered to loud or aggressive, or complaining.</li>
      <li>Participants noticed their tone changing with specific people and specific encounters
      as evidenced by "Stress makes my tone grow sharp and high pitched", and "When I'm genuine,
      my tone is more relaxed and when I'm in formal situations I tend to sound hyper, like I
      want people to know that I'm genuinely interested in them".</li>
    </ul>

    <p>Both vocal fry (creak voice) and upspeak (rising inflection) are slowly changing the way we
    communicate as speech patterns are modeled to us via popular media as well as through commercial
    AI products like chatbots, Alexa, Siri, and RealDolls.</p>

    <p>This <a href="https://drive.google.com/open?id=0Bz8lvCqH2p96MHJvd0twV2dTX3M">Voice Design Toolkit</a>
    titled Posthuman Plugin, further explores the relationship between the affective economy of tone and
    emerging trends in conversational user interface. This toolkit was created by conversations with
    women in (and outside of) the Bits and Bytes workshops and addresses the gender and humanization
    of voice in commercial AI. The toolkit playfully explores how we might change the material of the
    voice through natural and man-made items, like metal, cities, and plants. Additional conversations
    about emotionally responsive conversational user interfaces (CUI) resulted in a significant divide
    between those who desired an emotionally responsive CUI (about 50%), and those who had no desire
    for an emotionally responsive CUI.</p>

      <%= image_tag 'feminist-artificial-intelligence-voice-design.jpg', alt:'', class:'images' %>


  <h2>MOVEMENT</h2>

      <p>We discussed the emotions associated with movement, individually and collectively.</p>

  <ul>
   <li>A recognition that moving in a group introduced new noises and experiences.</li>
    <li>An awareness of <b>behavior changing when entering a new environment</b>, or encountering a person or object.
    The reports in these feelings changed significantly when the participants were blindfolded on the last
    sensory walk. When people were blindfolded they noticed the texture and slope of the ground and reported
    feeling safe when engaged in a tactile and/or spatial relationship with another person.</li>
    <li>Sensations are not considered separately, but are tied to other each other. The combination of multiple
    sensations creates the experience. This was most obvious when sensory experiences contradict each other:
    "The smell downtown is really strong. It smells like garbage and stale air. The visuals contradict the
    smell when I look up at the big buildings. When I look down and witness the garbage it makes sense."
    Another example of multi-sensory experiences was when a participant "notice the cold less", when she saw people.</li>
  </ul>




  <h2>EMOTION</h2>

   <p>We discussed our comfort level with emotions analytics, along with the role of emotion in our sensory-embodied
   experiences. We discussed the emotions associated with movement, individually and collectively.</p>

  <ul>
    <li>A belief that <b>there is a relationship between perceived mood and sensations</b>: "My mood is definitely tied
    to the images I take in".</li>
    <li>A belief that different senses are heightened in emotional situations.</li>
    <li>Sensory-Emotional experiences can be triggered by external stimuli: "Sound also is a sense that can trigger emotions for me.
    Music, the sound of nature, all evoke positive emotions."</li>
    <li>It was suggested that materials and techniques are contextual and mood specific: "As far as my personal art work,
    my materials and techniques change depending on my mood." This observation speaks to the idea of contextual sensory
    responsiveness, while at the same time addresses the materiality of an input.</li>
  </ul>
 <%= image_tag 'feminist-artificial-intelligence_design-research_findings.jpg', alt:'', class:'images' %>

  </div>


<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
