<div class="pages col-md-9">
  <h1>APPROACH</h1>

   <!--  <%= image_tag 'feminist-artificial-intelligence_philosophy_flier1.jpg', alt:'', class:'images' %> -->
  <p>A recurring theme throughout my research was the fact that across the board, people have different understandings
  perspectives about AI. Some view commercial products, that utilize machine learning algorithms as AI, while others
  believe it can only exist in completely autonomous systems. Some participants in my research projects were intimidated
  about the technical complexity of AI, and were reluctant to discuss it out of fear of appearing ignorant or insecure.
  means people with different knowledge systems might hesitate to contribute to the design, and reinforces this removal
  of people in the AI design process. This affected the way I engaged with participants in my design research workshops.
  In our workshops, we made the basic assumption that all approaches to AI are valid and to explore any ideas from the
  participants. The workshops produced an AI design tool, providing AI designers a way to design from a socio sociocultural
  perspective. Currently, AI designers assume industry standards in AI design, but this tool is a reminder to be critical
  of these assumptions.</p>

  <h2>AI Design Tool</h2>
<!--   <%= image_tag 'feminist-artificial-intelligence_design-research_process.jpg', alt:'', class:'images' %> -->

  <p>As the design research findings indicate, users would like more transparency
  regarding the decisions and information going into an AI system, and a
  recognition of bias within an existing system. This is a challenge for
  designers, as we need to start to design to recognize cultural and social
  assumptions and bias in the creation of our AI design tools.</p>

  <p>Many users reported a complete disconnection from algorithmic creation and AI
  design.  The cultural AI design tool is an in browser generator that helps
  people designing AI systems to remove assumptions of favoring a specific type of
  AI approach. It additionally draws attention to the need to include cultural and
  social considerations in the design, while at the same time offering a
  prescriptive playful approach to expose people to different types of thinking in
  AI design. Below is a rough sketch of this cultural design tool.</p>

  <br>
<iframe src="https://player.vimeo.com/video/213756484" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<br>
<br>
<a href="https://projects.invisionapp.com/share/FSB9NB28N#/screens/228624341">inVision prototype</a>


    <div>
    <h4>ADDITIONAL DESIGN APPROACHES EMERGED FROM THE WORKSHOPS</h4>
    <ul>
    <li>Design with and for the unheard voices in AI creation.</li>
    <li>AI design should be participatory in nature.</li>
    <li>All knowledge systems and skills should be equally honored and valued.</li>
    <li>Provide multiple entry points for user involvement, so as to incorporate differing knowledge systems and users.</li>
    <li>AI art projects can be a social response or technical making.</li>
    </ul>
    </div>

  </p>

  <br>
  <br>
<!--   <%= image_tag 'feminist-artificial-intelligence_philosophy_flier2.jpg', alt:'', class:'images' %>

  <div>
    <%= image_tag 'feminist-artificial-intelligence_philosophy_flier3.jpg', alt:'', class:'images' %>
    <%= image_tag 'feminist-artificial-intelligence_philosophy_flier4.jpg', alt:'', class:'images' %>
  </div> -->

<!-- randomly-placed-icon -->

  <!-- <div>
    <%= image_tag 'feminist-artificial-intelligence_philosophy_flier5.jpg', alt:'', class:'images' %>
    <%= image_tag 'feminist-artificial-intelligence_philosophy_flier6.jpg', alt:'', class:'images' %>
  </div> -->
