<div class="pages col-md-9">
  <h1>BACKGROUND</h1>

  <p>Feminist AI Projects Revisited is a product of Christine Meinders’ 2017 MFA thesis in Media Design Practices at ArtCenter College of Design. The first part of the research focused on sensory sociocultural experiences associated with embodiment, and the second part of the research focused on critical making as a response to hegemonic AI.</p>

  <p>Two Feminist AI Projects were designed to respond to this work: <%= link_to 'Bits & Bytes', 'https://feminist-ai-projects.herokuapp.com/current_projects' %> and the  <%= link_to 'Posthuman Plugin', 'https://feminist-ai-projects.herokuapp.com/current_projects' %> Additional outcomes of the work include the <%= link_to 'AI Sociocultural Design Tool', 'https://feminist-ai-projects.herokuapp.com/approach' %> and video research explorations<p>

  <%= image_tag("about_feminist-artificial-intelligence_calendar.jpg", alt: "Edit Entry", class:'images') %>

  <p>To read research  click here for the first <%= link_to 'half of the working paper', 'https://drive.google.com/open?id=0Bz8lvCqH2p96NXdfc0VnaVF3QVk' %>.</p>

  <h4><%= link_to 'Machine Project Presentation', 'https://drive.google.com/open?id=0Bz8lvCqH2p96STVWN3AzUVJoVFk' %> and video about Feminist AI Design, given at Machine Project on 4/1/17</h4>

  <iframe src="https://player.vimeo.com/video/212216809" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="videos"></iframe>
<!--
  <%= image_tag("about_feminist-artificial-intelligence_about_collaborative.jpg", alt: "Edit Entry", class:'images') %> 
  <%= image_tag("about_feminist-artificial-intelligence_vive.jpg", alt: "Edit Entry", class:'images') %> 
  <%= image_tag 'feminist-artificial-intelligence_design-research_findings.jpg', alt:'', class:'images' %> 
-->
</div>