<div id="page_wrapper">
  <div class='lower'>
    <h1 id='header'>Current Ai Projects</h1>
    <h2>Feminist AI Projects</h2>

    <div>
      <%= image_tag 'feminist-artificial-intelligence_current-project_scream.jpg', width: "400", alt:'' %>
    </div>

    <h3>Designing for Embodiment: Bits & Bytes </h3>
    <p>Bits and Bytes is a group who's mission it is to collaboratively design for embodiment in AI.</p>

    <p>This project pulled from the research created in the Bits and Bytes workshops. The participants wanted to "scream with their bodies" without using a voice. This resulted in a live Sound Face Protest at Machine Project. We used the [wekinator's ](http://www.wekinator.org/)existing artificial neural network model to curate our own algorithmic sound experiences.</p>

    <h3>SOUND FACE PROTEST</h3>
    <ul>
      <li>Data: from our faces</li>
      <li>Input Type: continuous</li>
      <li>Learning: individually curated ML algorithms </li>
      <li>Model Type: neural network (with 1 hidden layer)</li>
      <li>Intent: protest</li>
      <li>Behavior: occupy with sound</li>
    </ul>

    <h3>Face sound protest:</h3>
    <iframe src="https://player.vimeo.com/video/212188811" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <div>
      <%= image_tag 'feminist-artificial-intelligence_current-project_scream.jpg', width: "400", alt:'' %>
    </div>

    <h3>Post-human plugin </h3>
    <p>The Post-Human Plugin examines the disembodiment of females through the re-appropriation of voice.</p>

    <div>
      <%= image_tag 'feminist-artificial-intelligence_current-voice-toolkit.jpg', width: "400", alt:'' %>
      <%= image_tag 'feminist-artificial-intelligence-voice-model.jpg', width: "400", alt:'' %>
    </div>

    <p>Based on the voice toolkit, and verbal communication with people in Bits and Bytes, and interviews outside of Bits and Bytes, I took the top 3 responses and created voice plugins to address the results of the research.</p>

    <div>
      <%= image_tag 'feminist-artificial-intelligence-voice-design.jpg', width: "400", alt:'' %>
    </div>

  </div><!-- class lower -->
</div><!-- class page_wrapper -->
