<div id="page_wrapper">
  <div class='lower'>
    <h1 id='header'>Design Philosophy</h1>

    <div>
      <%= image_tag 'feminist-artificial-intelligence_philosophy_flier1.jpg', width: "400", alt:'', class: "photos" %>
      <%= image_tag 'feminist-artificial-intelligence_philosophy_flier2.jpg', width: "400", alt:'', class: "photos" %>
    </div>

    <div>
      <p class='design-philosphy'>Bits &#39; Bytes actively designs for sound, voice, gesture, movement and touch-based experiences over visual interfaces. We prioritize the multi-sensory experiences in our approach to designing intelligent interfaces and agents. Members of Bits &#39; Bytes engage in collaborative making in physical and digital spaces: (1) digitally through Facebook, Meet-ups, E-mail, Instagram, text messages and Internet Protests; (2) physically through community partnerships such as Women Who Code, the Women’s Center for Creative Work, the Altadena Public Library, and Machine Project. Our goal is to to create alternatives to hegemonic AI creation. Feminist AI Projects pays homage to the writings and research produced by Alison Adam’s Feminist AI Projects, and to embodiment and emotion research from Dara Blumenthal, Katherine Hayles and Sara Ahmed.</p>
    </div>

    <div>
      <%= image_tag 'feminist-artificial-intelligence_philosophy_flier3.jpg', width: "400", alt:'', class: "photos" %>
      <%= image_tag 'feminist-artificial-intelligence_philosophy_flier4.jpg', width: "400",alt:'', class: "photos" %>
    </div>

    <div>
      <p class='design-philosphy'>Bits &#39; Bytes reflects the spirit of the open source movement, and a secondary goal of this project is to use open source methods to create new thinking around designing for artificial intelligence. Our making approach is not only collaborative in person, but also in idea generation. We are inspired not only by surrealist methods of picture variation known as “exquisite corpse,” but also of extending beyond pictures to concepts, materials and protest techniques. The highlighted feminist projects explore the methods, approach, research and creations of embodied interconnected intelligences that emerge and materially transform as imagined and created in our collaborative making.</p>
    </div>

    <div>
      <%= image_tag 'feminist-artificial-intelligence_philosophy_flier5.jpg', width: "400", alt:'', class: "photos" %>
      <%= image_tag 'feminist-artificial-intelligence_philosophy_flier6.jpg', width: "400", alt:'', class: "photos" %>
    </div>

    <div>
      <h4 class='design-philosphy'>A specific design philosophy emerged from these workshops </h4>
      <ul>
        <li>Design with and for the unheard voices and sounds in AI creation.</li>
        <li>We must be invited to a location to participate.</li>
        <li>All knowledge systems and skills are equally honored and valued.</li>
        <li>We want multiple entry points for involvement, so we can pull from different. knowledge systems for our design and development.</li>
        <li>The AI art project can be a social response or technical making.</li>
        <li>We would like to revisit every step of our process with every new project.</li>
      </ul>
    </div>

    <div>
      <h4 class='design-philosphy'>Representation of Women in AI</h3>
      <iframe src="https://player.vimeo.com/video/196108916" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    </div><!-- class container -->
  </div><!-- class lower -->
</div><!-- class page_wrapper -->
