<div class="pages col-md-9">
  <h1>RESEARCH METHODS: AI CONCEPT</h1>

  <div>

<h2>CONWAY'S GAME OF LIFE</h2>
   <p>The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells,
   each of which is in one of two possible states, alive or dead, or “populated” or “unpopulated”
   (the difference may seem minor, except when viewing it as an early model of human/urban behavior
   simulation or how one views a blank space on a grid). Every cell interacts with its eight neighbors,
   which are the cells that are horizontally, vertically, or diagonally adjacent. </p>

  <p>The initial pattern constitutes the seed of the system. The first generation is created by applying
  the above rules simultaneously to every cell in the seed—births and deaths occur simultaneously, and the
  discrete moment at which this happens is sometimes called a tick. The rules continue to be applied
  repeatedly to create further generations.</p>

  <h3>Conway’s Game of Life Rules</h3>
  <p>rules retrieved from Wikipedia</p>

  <ul>
  <li>At each step in time, the following transitions occur:

  <li> Any live cell with fewer than two live neighbors dies, as if caused by underpopulation.</li>

  <li>Any live cell with two or three live neighbors lives on to the next generation.</li>

  <li> Any live cell with more than three live neighbors dies, as if by overpopulation.</li>

  <li> Any dead cell with exactly three live neighbors becomes a live cell, as if by reproduction.</li>
  </ul>


  <h3>PROCESSING Game of Life Research</h3>
  <p>What data will you use to create your rules? Here's an example:</p>

  <ul>

  <li>Take gender and salary. If salary is over $50,000 and female, fill in the cell. Play the game of life with a video. (Find a video that reflects your context). </li>

  <li>Repeat with gender reversed.</li>

  <li>Compare the two videos, open processing file, and add video. Write your ruleset in the comments.</li>

  <li>Use quick time recording to capture the process/li>

  </ul>

  <p>What might this look like using video Art?</p>
  <iframe src="https://player.vimeo.com/video/209690366" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <br>
  <p><i>Gendered Payment Still Life</i></p>
  <br>

  <iframe src="https://player.vimeo.com/video/209688118" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <br>
  <p><i>Healthcare Rose by Reichel Hertzler</i></p>
  <p><i>Special thanks to Lee Cody for modifying these two processing scripts to achieve this visual research approach,
  and Shiveesh Fotedor for his discussions about the Game of Life.</i></p>

 <h2>AI MODEL MAKING</h2>

 <%= image_tag 'about_feminist-artificial-intelligence_about_collaborative.jpg', alt:'', class:'images' %>

  <p>I approached questions about AI model creation across three different research areas,
  trying to connect across experiences with the unheard voices of AI. I used twitter, a
  self-created toolkit, and verbal interviews as my three forms of information collection.
  I then  took the responses from each section, put them in a google doc titled AI ideas,
  and asked participants to vote on their top three preferences. There were 33 responses.
  Rather than having a winner, I took the top four responses, because that would give the
  Bits and Bytes more resources to pull from in the AI creation. The top four responses
  came from all there categorizes, two of the four top responses came from twitter.</p>


  <h3>TWITTER</h3>
   <p>The question prompted people through platform of fb and email to participate in Bits and Bytes
   twitter research. There were a series of questions asked, and the final one asked participants what
   they would like to use an AI agent for, and were requested to respond with
  #bitsbytesLA7.</p>

  <p>While I enjoy the idea of using twitter for research, there are several assumptions and challenges
  within this approach. First of all, there is an assumption that an individual users twitter and their
  settings are not set to private. Many people participated but their responses were not seen due to
  their settings. Additionally, the question itself assumes some familiarity with the concept of an AI agent.
  I do believe that for this demographic using twitter was ok, as it was an interesting way to collect data,
  and there were some interesting responses, however, twitter has decreased in popularity and would not be a
  great option for long-term research opportunities. There were several responses </p>
  <ul>
    <li>
      #bitsbytesLA7 can an AI agent turn OFF ads in the physical space (eg no more digital billboards!)?
    </li>
    <li>
      #bitsbytesLA7 I would like to use Natural Language Processing with the Anonymity software I want to build to help rape survivors.
    </li>
    <li>
     #bitsbytesLA7 An autonomous car that give me the best recommendations for my days/evening. For instance, the best shows or restaurants.
    </li>
  </ul>

  <h3>AI TOOLKIT</h3>


   <%= image_tag 'about_feminist-artificial-intelligence_vive.jpg', alt:'', class:'images' %>


  <p>This <a href="https://drive.google.com/open?id=0Bz8lvCqH2p96dXVRTTFDNFlJYVU">AI toolkit</a> is a downloadable PDF which anyone can download and create their own AI Model.
  The kit provides examples of a what it would mean to design with a material from, data, rulesets and
  behavior. The goal in taking a broad, less technical appraoch to this model making was to get individuals
  to think outise of traditional human-focuesed ideas about intelligence, and incoroporate other non-human
  ways of desining with AI, while at the same time tackeling social concners. While this might not be completely
  AI accurate, it was an effective tool to get people to think about altenrative ways to design. These models were
  created with women in Los Angeles and Washington DC.</p>

    <ul>
    <li>SUBVERTING SURVEILLANCE: Subverting Surveillance is a community policing model that tracks and surveils police
    to hold them accountable and prevent police brutality.</li>
    <li>HERBAL HEALTH: Plants that can be self sufficient and learn from health data using search engines to help create hybrids to help ailments.</li>
    <li>THE NEW LANGUAGE OF EMOTION: Create a new language of emotion and use it to protest (digitally and physically) throughout the city.
    The city is constructed like a quilt, nodes in a network, or spider web, all with specific points of intersection, addressing one
    small part of the whole. Each person’s individual digital emotion and environmental profile would engage differently in each location,
    utilizing physiological responses while at the same time exposing cultural bias in physical and digital spaces. This “city quilt”
    would change the profiles of people under the data quilt space, and the profiles of those under each section of quilt, could change
    that section of quilt. Outputs would be tactile, sonic and visual.</li>

  </ul>

  <h3>AI AUDIO INTERVIEW HIGHLIGHTS</h3>
  <p></p>

  <ul>
    <li>BANANAS: Animal intelligence or Insect intelligence. Picking out the best bananas for a monkey based on scent.</li>
    <li>EMOTION BAROMETER: Emotion barometer / tracker on the phone. So people can know how they are communicate with people.
    Would aggregate all the data for all the different users and would categorize ranges of emotion and categorize situations
    and give recommended behavioral actions or tactics for circumstances to help improve people's behavior.</li>
    <li>LANDSCAPE PAINTINGS: Wants to use nature intelligence to make paintings.</li>
  </ul>

  <h3>Findings as materials:</h3>
  <p>18 AI models were proposed from the speech, twitter and an AI toolkit explorations. We asked the unheard voices of AI creation,
  across the United States, to contribute their thoughts about what would make an effective AI system.
  The top four votes / responses were pulled from our AI Ideas Survey. They are:</p>
    <ul>
      <li>The Emotion Barometer</li>
      <li>Subverting Surveillance</li>
      <li>Real Time Ad Remover</li>
      <li>The New Language of Emotion</li>
    </ul>

  <p>Drawing from the top 4 responses, we focused on the themes of protest, surveillance, emotion,
  communication, body data and obfuscation. The overall connection with these systems is the ability
  to use our body data to protest, monitor, obfuscate or disable systems within our environment.
  Our making used the resultes of these mdoels to focus on how we might use our body data as protest,
  creating a space for everyone to project meaning into their own body protest space.</p>

  <p>The final result included using plant information and face movment to engage in a sound portest in both
  a physical and digital space.</p>


<!-- ARE YOU SURE YOU WANT THIS PHOTO?    <%= image_tag 'feminist-artificial-intelligence-voice-design.jpg', alt:'', class:'images' %>
 -->  </div>

</div>





<%= image_tag 'icon1.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon2.png', class: 'randomly-placed-icon' %>
<%= image_tag 'icon3.png', class: 'randomly-placed-icon' %>

<script>
function rand0To100() {
  return Math.floor(Math.random() * 100);
}

$('.randomly-placed-icon').each(function() {
  $(this).css({top: rand0To100() + '%', left: rand0To100() + '%'});
});
</script>
