<div id="page_wrapper">
  <div class='lower'>

  <h1 id='header'>Resources</h1>
  <ul>
    <li><%= link_to 'Machine Project', 'http://machineproject.com/' -%></li>
    <li><%= link_to "Women's Center for Creative Work", 'http://womenscenterforcreativework.com/' -%></li>
    <li><%= link_to 'Rails Girls', 'http://railsgirls.com/la' -%></li>
    <li><%= link_to 'Women Who Code', 'https://www.womenwhocode.com/la' -%></li>
    <li><%= link_to 'Emblematic Group', 'http://emblematicgroup.com/' -%></li>
    <li><%= link_to 'Media Design Practices', 'http://mediadesignpractices.net/' -%></li>
    <li><%= link_to 'Cross Campus DTLA', 'http://www.crosscamp.us/site/locations/cross-campus-downtown-la.html' -%></li>
    <li><%= link_to 'Altadena Library District', 'http://www.altadenalibrary.org/' -%></li>
    <li><%= link_to 'The Wekinator', 'http://www.wekinator.org/' -%></li>
  </ul>

  </div><!-- class lower -->
</div><!-- class page_wrapper -->
