<!DOCTYPE html>
<html>
  <head>
    <title>FeministAi</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class="content">
      <div class="under-shape-one"></div>
      <%= yield %>
      <div class="under-shape-two"></div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
